<div class="rating">
    <button class="btn btn-outline-danger" (click)="onRegresar()">Volver</button>
</div>


<table class="table table-bordered" style="color: white;margin-top: 5%;">
    <thead>
        <tr style="border: none;">
            <th scope="col" class="tableTitle" style="border: none;">Butaca</th>
            <th scope="col" class="tableTitle" style="border: none;">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr style="text-align: center;" *ngFor="let butaca of reservadas">
            <td style="padding-top: 2%;padding-bottom: 2%;font-size: 30px;">{{butaca.numero}}</td>
            <td style="padding-top: 2%;padding-bottom: 2%;font-size: 30px;">{{precioPorButaca}} €</td>
        </tr>
    </tbody>
</table>

<button (click)="reservar()" class="p-button reservedButton"><h3 style="margin-left: 1.8em;">Comprar<br>{{precioTotal}} €</h3></button>

<p-dialog [(visible)]="loading" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" [closable]="false">
    <div class="grid">
      <div class="col-12 centered-text modal-text" style="text-align: center;font-size: x-large;">
        Comprando Entradas Revise su apartado de Mis Entradas
        </div>
    </div>

    <div class="grid">
      <div class="col-12 centered-text" style="padding-top: 4em;">
        <p-progressSpinner styleClass="custom-spinner" style="margin-left: 45%;"></p-progressSpinner>
      </div>
    </div>
</p-dialog>

