<nav class="navbar navbar-expand-sm barra">
    <div class="container-fluid">
        <a class="navbar-brand rating animate__animated animate__backInRight animate_slow" routerLink="/home" routerLinkActive="active">JFilms</a>
        <a class="navbar-brand subtitels animate__animated animate__backInRight animate_slow" routerLink="/misEntradas" routerLinkActive="active">Mis Entradas</a>
        <a class="navbar-brand subtitels animate__animated animate__backInRight animate_slow" routerLink="/perfil" routerLinkActive="active">Perfíl</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
           <!--  <div class="d-flex animate_animated animate__backInDown" role="search">
                <input #textBuscar (keyup)="buscarPelicula(textBuscar.value)" class="form-control me-2" type="search" placeholder="Buscar Película" aria-label="Search">
                <button (click)="buscarPelicula(textBuscar.value)" class="btn btn-outline-success" type="submit">Bucsar</button>
            </div> -->

        </div>
    </div>
</nav>